<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Поиск слов в книге "Game of thrones" </title>
</head>
<body>
  {% block content %}
    <h1>Поиск слов в книге "Game of thrones"</h1>
  <form action="{{url_for('result')}}">
    <label for="words">Введите слово или слова через запятую, которые вы хотите найти в книге игра престолов</label>
    <br>
    <input id="words" name="words" type="text" value="{{words}}">
    <br>

    <label for="examples">Введите число примеров предложений</label>
    <br>
    <input id="examples" name="examples" type="number" value="{{examples}}">
    <br><br>
    <input type="submit" value="Отправить">
  </form>
  {% endblock %}
</body>
</html>